* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  border: 1px solid #313742;
  display: flex;
  flex-direction: column;
  background: #171717;
}

#app {
  margin-top: 10%;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.header {
  width: 99%;
  position: fixed;
  height: 8%;
  -webkit-app-region: drag;
  font-family: 'Lato';
  font-weight: bolder;
  color: #d6e1e5;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.close-button {
  border: 2px solid #D62F30;
  margin-left: 1em;
  -webkit-app-region: no-drag;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  background: #D62F30;
  transition: 0.5s ease;
}

.close-button:hover {
  background: transparent;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.card-container hr {
  border-radius: 0.5em;
  border-width: thin;
  width: 93%;
  margin: 0 auto;
}

.card {
  margin: 0.2em;
  padding: 1em;
  background: transparent;
  color: #d6e1e5;
  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  width: 48px;
  height: 48px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.button {
  border: 2px solid #00944E;
  background: #00944E;
  color: #e3e5e8;
  padding: 0.4em;
  transition: .5s ease;
}

.button:hover {
  background: transparent;
}

.modal {
  color: #d6e1e5;
  border-top: 2px solid #d6e1e5;
  z-index: 1;
  position: fixed;
  width: 93%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.modal-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 0.5em;
  margin-top: 1em;
  flex: 1;
  align-self: flex-start;
  font-family: "Lato";
  font-size: 1em;
}

.flex-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 0.2em;
  background-color: #00944E;
  max-width: 100%;
  margin: 0 0.5em;
}

.cancel-button {
  background: #D62F30;
  height: 0.5em;
  width: 0.5em;
  border-color: #D62F30;
  margin-left: auto !important;
  margin-right: 0.5em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-weight: bold;
}
